cffi==1.16.0
colorama==0.4.3
contourpy==1.1.0
cryptography==41.0.7
cx-Oracle==8.3.0
cycler==0.11.0
et-xmlfile==1.1.0
fonttools==4.42.1
greenlet==2.0.1
gurobipy==11.0.0
importlib-resources==6.0.1
jdcal==1.4.1
kiwisolver==1.4.5
matplotlib==3.7.2
numpy==1.23.4
openpyxl==3.0.10
oracledb==2.0.1
packaging==23.1
pandas==1.5.1
Pillow==10.0.0
ply==3.11
PuLP==2.7.0
pycparser==2.21
pyodbc==4.0.34
Pyomo==6.1.1
pyparsing==3.0.9
pypdf==3.14.0
pyperclip==1.8.0
PyQt5==5.15.9
PyQt5-Qt5==5.15.2
PyQt5-sip==12.12.2
python-dateutil==2.8.2
python-dotenv==1.0.1
pytz==2022.5
scipy==1.10.1
six==1.16.0
SQLAlchemy==1.4.44
tabulate==0.9.0
tqdm==4.66.1
typing_extensions==4.7.1
tzdata==2023.3
xlrd==1.2.0
XlsxWriter==1.2.7
zipp==3.16.2
